# Ignore virtual environment
venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Editor settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and results
*.log
*.out
*.tmp
output.*
results.*